{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static',filename='File_Uploads/430601.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{params['blog_name']}}</h1>
          <span class="subheading">By {{params['site_name']}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      

      {% for p in post %}
        {% set link = 'post/' + p.slug %}
        <div class="post-preview">
          <a href={{link}}>
            <h2 class="post-title">{{p.Title}}</h2>
          {% if p.subheading is not none%}
            <h3 class="post-subtitle">{{p.Subheading}}</h3>
          {% endif %}
          </a>
          <p class="post-meta">Posted by <a href="#">{{p.post_by}}</a> on {{p.Date}}</p>
          {{p.Content[0:100]}}...
        </div>
        <hr>
      {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          {% if f is false %}<a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous</a>{% endif %}
          {% if l is false %}<a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>{% endif %}
        </div>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}
